

{% block content %}
  <form id="billingForm" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Submit</button>
    <button type="button" id="recalcular">Recalcular</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $('#recalcular').on('click', function(e) {
        e.preventDefault();

        let formData = new FormData(document.querySelector('#billingForm'));

        fetch('{{ recalcular_url }}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                $('#id_cobrado_total').val(data.cobrado_total);
            }
        })
        .catch(error => alert(error));
    });
  </script>
{% endblock %}