<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <form method="post" class="container mt-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="body">Corpo do E-mail:</label>
            <textarea id="body" class="form-control" name="body" rows="35" cols="50">{{ form.body.value }}</textarea>
        </div>
        <div class="form-group">
            <label for="attachments">Anexos:</label>
            <input id="attachments" class="form-control-file" type="file" name="attachments" multiple>
        </div>
        <div id="dropzone" class="border border-primary p-4 text-center">
            <p>Arraste e solte arquivos aqui para adicioná-los como anexos</p>
        </div>
        <div id="fileList" class="mt-4">
            <p>Arquivos carregados:</p>
            <ul id="fileNames"></ul>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    <script>
        var dropzone = document.getElementById('dropzone');
        var fileList = document.getElementById('fileNames');

        dropzone.addEventListener('dragover', function(event) {
            event.preventDefault();
            dropzone.classList.add('border-primary');
        });
        
        dropzone.addEventListener('dragleave', function(event) {
            event.preventDefault();
            dropzone.classList.remove('border-primary');
        });
        
        dropzone.addEventListener('drop', function(event) {
            event.preventDefault();
            dropzone.classList.remove('border-primary');
            var files = event.dataTransfer.files;
            var attachmentsInput = document.getElementById('attachments');
            attachmentsInput.files = files;
            displayFileNames(files);
        });
        
        document.getElementById('attachments').addEventListener('change', function(event) {
            var files = event.target.files;
            displayFileNames(files);
        });
        

        function displayFileNames(files) {
            fileList.innerHTML = '';
            for (var i = 0; i < files.length; i++) {
                var listItem = document.createElement('li');
                listItem.textContent = files[i].name;
                fileList.appendChild(listItem);
            }
        }
    </script>
</body>
</html>
