{% block content %}
<h2 class="mb-4">Lista de Produtos</h2>

<form method="GET" action="">
    <input type="text" name="search" placeholder="Buscar por posto">
    <button type="submit">Buscar</button>
</form>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Produto</th>
            <th>Posto</th>
            <th>Rede</th>
            <th>Data da última cobranças</th>
            <th>Valor da Última Cobrança</th>
            <th>Data de Atualização</th>
            <th>Status</th>
            <th>Atualizar</th>
        </tr>
    </thead>
    <tbody>
        {% for item in produtos_list %}
            <tr>
                <td><a href="{% url 'historico_lista_cobrancas' item.produto.id %}">{{ item.produto.nome }}</a></td>
                <td>{{ item.posto }}</td>
                <td>{{ item.nome_rede }}</td>
                <td>{{ item.invoice_date|default_if_none:"-" }}</td>
                <td>{{ item.valor_cobranca|default_if_none:"0.00"|floatformat:"2" }}</td>
                <td>{{ item.data_atualizacao }}</td>
                {% if item.produto.status %} <td class="text-success">Ativo</td> {% else %} <td class="text-danger">Desativado</td>{% endif %}
                {% if item.atualizar %} <td><a href="{% url 'atualizar_inflacao' item.idtypebiling %}" class="btn btn-primary"> Atualizar Valores </a></td>{% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
